<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś chciał, żeby przypomnieć Ci hasło i poniżej jest link do resetowania hasła.</p>

<p><%= link_to 'Resetuj hasło', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jeśli to nie ty zrobiłeś, zignoruj tę wiadomość.</p>
<p>Twoja hasło pozostanie bez zmian póki nie wejdziesz w link podany w tym mailu.</p>

Pozdrawiamy </br>
Ekipa Fryzjerów